# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build çıktısı
dist/
backups/
data/
*.db

# Çevresel dosyalar
.env
.env.local
.env.*.local

# IDE/editor
.vscode/
.idea/
.DS_Store

# Diğer
*.log
*.sqlite
*.bak
*.tmp 